<configuration>
  <configSections>
    <sectionGroup name="pgeConfigSectionGroup">
      <section name="PGEConfigSection" type="AGESIC.PGE.PGEConfigSection, Agesic.PGE, Culture=neutral, Version=1.0.0.0"/>
    </sectionGroup>
  </configSections>
  <pgeConfigSectionGroup>
    <PGEConfigSection
      SAMLIssuer="Agesic"
      STSUrl="http://pge.red.uy:6001/TrustServer/SecurityTokenService"
      RSTCertificateDN="test_agesic"
      STSUrlSSL="https://pge.red.uy:6051/TrustServer/SecurityTokenServiceProtected"
      SAMLMaxFrame="15"
      SAMLMinFrame="120"
      RSTCertificateStoreName="My"
      RSTCertificateStoreLocation="CurrentUser"
      SAMLActor="SAMLActor"
      />
  </pgeConfigSectionGroup>
  
</configuration>